{% extends 'index.html' %}


{% load static %}

{% block style %}
<title>QR Code Generator at your Fingertips </title>
<meta name="description" content="Our QR Code Generator is one of the fastest and free tools available on the internet. Check it out and generator anything into a QR Code" />

<style>


/* Style 9
   ----------------------------- */
   .nine h1 {
  text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
  font-family:"Playfair Display", serif; font-weight:400;
}

.para p {
  text-align:center; font-size:20px; text-transform:uppercase; color:#222; letter-spacing:1px;
  font-family:"Playfair Display", serif; font-weight:100;
}

</style>
{% endblock %}



{% block index %}
{% endblock %}


{% block content %}
{% load static %}
<div class="container">
  <div class="nine">
    <h1 class="text-capital">QR Code Generator</h1>
  </div>
  <div class="para">
    <p>
      Perfectly coded QR code generator
    </p>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">

      {% if qr_code %}
      <div class="text-center mt-5">
        <h3 class="text-center mb-5">You Qr Code is here please download it</h3>
        <a class="btn btn-lg btn-success" href="{{file_path}}" download>Download this image!</a>
        <img src="{{file_path}}" alt="QR Code">
      </div>
      {% endif %}
      <form action="." method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="content">Content (Type any url or Text)</label>
          <textarea class="form-control mx-2 my-2" id="content" name="content" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-lg btn-primary mx-2 my-2 p-3">Generate QR</button>
      </form>

    </div>

  </div>

  <div class="row my-2">
    <div class="col-lg-6">
        <img src="{% static 'pic/qrcode.png' %}" height="400" width="300" class="text-center bd-placeholder-img mx-auto" alt="...">
    </div>
    <div class="col-lg-6">
        <ul class="list-group ">
            <li class="list-group-item list-group-item-primary" aria-disabled="true">How QR Generator Works?</li>
            <li class="list-group-item">Put any Text, Url or Link</li>
            <li class="list-group-item">Then Click On Generate QR </li>
            <li class="list-group-item">After Generated Download It</li>
            <li class="list-group-item">Save Your QR Code </li>
          </ul>
    </div>
</div>


</div>
{% endblock %}
