{% extends 'index.html' %}
{% load static %}


{% block style %}
<title> URL Shortener  </title>
<meta name="description" content="Our URL Shortener is one of the fastest and free tools available on the internet. Check it out and shorten your URL with just a few clicks" />



<style>


/* Style 9
   ----------------------------- */
   .nine h1 {
  text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
  font-family:"Playfair Display", serif; font-weight:400;
}
.nine h1 span {
  margin-top: 5px;
    font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
    text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.nine h1 span:after,.nine h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
  background-color:#f8f8f8;
}


</style>
{% endblock %}





{% block index %}
{% endblock %}


{% block content %}
<div class="container">
  <div class="nine">
    <h1>SHORTENED URL<span>
        SAVE THIS URL</span></h1>
  </div>
      
      <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Your Short URL</label>
            <input id="myInput" value="{{ short_url }}" class="form-control"  aria-describedby="emailHelp">
          
          </div>

      <p class="text-center px-2 py-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" id="my_url">Your short url is <b>{{ short_url }}</b> please copy it and store it   </p>
      <button onclick="myFunction()" type="button" class="btn btn-primary btn-lg">COPY URL</button>

      <div class="row my-2">
        <div class="col-lg-6">
            <img src="{% static 'pic/urlcard.png' %}" height="400" width="300" class="text-center bd-placeholder-img mx-auto" alt="...">
        </div>
        <div class="col-lg-6">
            <ul class="list-group ">
                <li class="list-group-item list-group-item-primary" aria-disabled="true">How URL Shortener Works?</li>
                <li class="list-group-item">Put Original Url or Link</li>
                <li class="list-group-item">Then Submit Your Url </li>
                <li class="list-group-item">Short Url Has Been Generated</li>
                <li class="list-group-item">Save Your Short URL</li>
              </ul>
        </div>
      </div>
</div>

<script>
    function myFunction() {
      // Get the text field
      var copyText = document.getElementById("myInput");
    
      // Select the text field
      copyText.select();
      copyText.setSelectionRange(0, 99999); // For mobile devices
    
      // Copy the text inside the text field
      navigator.clipboard.writeText(copyText.value);
      
      // Alert the copied text
      alert("Copied the text: " + copyText.value);
    }
</script>


{% endblock %}